{% trans_default_domain "app_contact" %}
<div class="contact has-content clearfix">
    {% include "App:Public:_logo.html.twig" %}

    <div class="content-bg">
        <div class="content-wrap">
            <h1>{% trans %}Contact{% endtrans %}</h1>

            <p>
                {% trans %}Please fill in following form and we will reply to you as soon as possible.{% endtrans %}
            </p>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_errors(form.name) }}

            <label>
                <span>{% trans %}Name{% endtrans %}</span>
                {{ form_widget(form['name']) }}

            </label>
            {{ form_errors(form.email) }}

            <label>
                <span>{% trans %}Email{% endtrans %}</span>
                {{ form_widget(form['email']) }}
            </label>
            {{ form_errors(form.text) }}
            <label>
                <span>{% trans %}Text{% endtrans %}</span>
                {{ form_widget(form['text']) }}
            </label>
            {{ form_rest(form) }}

            <div class="button-send-wrap">
                <input type="submit" value="Send" class="btn-lg">
                {#<a class="btn-lg noscript">Send</a>#}
            </div>
            {{ form_end(form) }}

        </div>
    </div>
    <div class="content-after">
            <h3>{% trans %}Experiencing an issue?{% endtrans %}</h3>

            <p>{% trans %}It's better to create an issue on our <a href="https://github.com/naumovs/instasavegram/issues">github</a> page.{% endtrans %}</p>
    </div>
</div>
