<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% set title = block('subtitle') %}
    {% set description = block('description') %}
    <title>{{ title|trim }} instasavegram</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ title|trim(' -') }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.pathInfo }}" />
    <meta property="og:image" content="{{  app.request.schemeAndHttpHost ~ asset('favicon.png') }}" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="199">
    <meta property="og:image:height" content="200">
    <meta property="og:site_name" content="instasavegram" />
    <meta property="og:description" content="{{ description }}" />

    {% if ga_tracking is not empty -%}
        <script>
            (function (a, b, c, d, e, f) {
                a.GoogleAnalyticsObject = d;
                a[d] || (a[d] =
                        function () {
                            (a[d].q = a[d].q || []).push(arguments)
                        });
                a[d].l = +new Date;
                e = b.createElement(c);
                f = b.getElementsByTagName(c)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                f.parentNode.insertBefore(e, f)
            }(window, document, 'script', 'ga'));
            ga('create', '{{ ga_tracking }}');
            ga('send', 'pageview');
        </script>
    {%- endif %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/site.css') }}">
</head>
<body>
<nav class="navigation cf" id="nav" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="{{ path('contact') }}">contact</a></li>
        <li><a href="{{ path('faq') }}">faq</a></li>
        <li><a href="{{ path('homepage') }}">home</a></li>
    </ul>
</nav>

<div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% set payload = block('payload') %}
    {% if payload is not empty %}
        <div id="payload">{{ payload|raw }}</div>
    {% endif %}

    <div class="footer">
            <div class="footer-text">
                <span class="footer-credits">created by
                    <a rel="author" href="https://plus.google.com/u/0/107278186993456908726?rel=author">@zlayatapka</a> and
                    <a rel="author" href="http://instagram.com/egonyan?rel=author">@egonyan</a>
                </span>
            </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('js/vendor.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% block javascripts %}
{% endblock %}
<script type="text/javascript">
    require(['app/globals', 'app/lib/utils', 'app/application', 'app/routes'], function (Globals, Utils, Application, routes) {
        Globals['app'] = new Application({
            title: 'instasavegram',
            routes: routes,
            controllerPath: 'app/controllers/',
            controllerSuffix: '-controller',
            root: Globals['base-url']
        });
    });
</script>
</body>
</html>
