<div class="homepage clearfix has-social has-content">
    {% include "@App/Common/_logo.html.twig" %}

    <div class="content-bg">
        <div class="content-wrap">
            <div class="get-started-text ">save all your Instagram</div>
            <div class="get-started-btn">
                <a href="https://instagram.com/oauth/authorize/?client_id={{ instagram_client_id }}&redirect_uri={{ app.request.schemeAndHttpHost }}/&response_type=token" class="btn btn-default btn-lg">Get Started</a>
            </div>
            <div class="get-started-note">By pressing the "Get Started" you will be redirected to the official Instagram Login Page and then
                right back to our website. This is done to verify your account and to get access to the photos</div>

            <div class="social-text cf">
                Tell your friends about us

                <div class="social-icons">
                    <a class="twitter" href="#" target="_blank"><img src="{{ asset('img/twitter1.png') }}" width="50" height="50"></a>
                    <a class="facebook" href="#" target="_blank"><img src="{{ asset('img/fb1.png') }}" width="50" height="50"></a>
                    <a class="plus" href="#" target="_blank"><img src="{{ asset('img/gp1.png') }}" width="50" height="50"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-after"></div>

</div>
